<html>
    <head>
        <title>{{ title }}</title>
        <!-- above is a variable title, which we'll define in the app.py file in the return section -->
        <!-- referencing CSS file -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <h1>Password Generator v2.0!</h1>
        {{ password_1 }}<br>
        {{ password_2 }}<br>
        {{ password_3 }}<br>
        {{ password_4 }}<br>
        {{ password_5 }}<br><br>
        <!-- above are variables, which we'll define in the app.py file in the return section -->
        <a href="javascript:location.reload();">Refresh List of Passwords</a>
        <!-- this was a piece i grabbed off stack overflow that adds a simple reload button to refresh the passwords -->
    </body>
</html>



  <style>
  h1{font weight:bold;
  font size: 50px;
    color: orchid;}</style>
  <h1>
    Test Header
  </h1>