<html>
    <head>
        <title>{{ title }}</title>
        <!-- above is a variable title, which we'll define in the app.py file -->
    </head>
    <body>
        <h1>Password Generator v2.0!</h1>
        <h2>{{ password_1 }}</h2>
        <br>
        <h2>This is line after the break</h2>
        <h2>{{ password_2 }}</h2>
        <!-- above is a variable title, which we'll define in the app.py file -->
        <a href="javascript:location.reload();">Refresh List of Passwords</a>
    </body>
</html>